<html lang="en"><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title> e-commerce login</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous">
    <style>
        body {
            background-color: #3e3e3e;
            color: white;
        }
    </style>
</head>
<body>
    <h1>HOME PAGE</h1>
    <div class-"container">
        <form class="form-signin" method="post" action="/logout">
            <button class="btn btn-primary btn-block" type="submit">logout</button>
        </form>

        <form class="form-signin" method="post" action="/api/v1/user/addUser">
            <h2 class="form-signin-heading">new user</h2>
            <p>
              <label for="username" class="sr-only">Username</label>
              <input type="text" id="username" name="username" class="form-control" placeholder="username" required="" autofocus="">
            </p>
            <p>
                <label for="email" class="sr-only">Email</label>
                <input type="text" id="email" name="email" class="form-control" placeholder="Email" required="" autofocus="">
              </p>
            <p>
              <label for="password" class="sr-only">Password</label>
              <input type="password" id="password" name="password" class="form-control" placeholder="Password" required="">
            </p>
            
            
            <button class="btn btn-lg btn-primary btn-block" type="submit">adduser</button>
          </form>

          <form class="form-signin" method="get" action="/user/getUsername/jimmithy">
            
            
            <button class="btn btn-lg btn-primary btn-block" type="submit">getuserJ</button>
          </form>

          <form class="form-signin" method="get" action="/user/getUsername/timmithy">
            
            
            <button class="btn btn-lg btn-primary btn-block" type="submit">getuserT</button>
          </form>

          <form class="form-signin" method="get" action="/user/getUser/1">
            <button class="btn btn-lg btn-primary btn-block" type="submit">getuser1</button>
          </form>

          <form class="form-signin" method="get" action="/user/getUser/2">
            <button class="btn btn-lg btn-primary btn-block" type="submit">getuser2</button>
          </form>

          <form class="form-signin" method="post" action="/api/v1/product/createProduct/jimmithy">
            <button class="btn btn-lg btn-primary btn-block" type="submit">addproduct as user</button>
          </form>

          <form class="form-signin" method="post" action="/api/v1/product/createProduct/timmithy">
            <button class="btn btn-lg btn-primary btn-block" type="submit">addproduct not as user</button>
          </form>

          


          <form class="form-signin" method="get" action="/user/getAllUser">
            
            
            <button class="btn btn-lg btn-primary btn-block" type="submit">get all users</button>
          </form>

    </div>

    

</body>
